.container{
    background-color: red;
    height: 300px;
}
/* MOBILE */
@media screen and (max-width: 576px){ 
    .container{
        width: 250px;
    }
    
}
/* PC */ 
@media screen and (min-width: 577px){ 
   .container{
    width: 90%;
    background-color: blue;
   }
}
/*TABLET*/
@media screen and (min-width:577px) and (max-width:977px){
    .container{
        width: 600px;
        background-color: pink;
    }
    
}